body {
  background-color: #000;
}

.home-container {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.logo {
  justify-content: flex-start;
}

.logo img {
  height: 83px;
  left: 110px;
  top: 20px;
  width: 130px;
}

.home-container h1 {
  align-items: center;
  color: white;
  display: flex;
  flex-grow: 2;
  font-family: Verdana , Tahoma , sans-serif;
  font-size: 100px;
  font-style: normal;
  justify-content: center;
  line-height: 36px;
  text-align: center;
}

.home-container h2 {
  color: white;
  font-family: Verdana , Tahoma , sans-serif;
  font-size: 40px;
  font-style: normal;
  justify-content: center;
  line-height: 36px;
  text-align: center;
}

.home-container a {
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Verdana , Tahoma , sans-serif;
  font-size: 35px;
  font-style: normal;
  line-height: 19px;
  margin-left: 10px;
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
}

.home-container div button img {
  height: 24px;
  margin-left: 5px;
  width: 24px;
}